{% extends "layout.twig" %}
{% block head_content %}
    <title>Add Jobs</title>     
{% endblock %}
{% block container %}
    <h1>Add Job</h1>
    <div class="alert alert-primary" role="alert">
      {{ responseMessage }}
    </div>
    <form action="/jobs/add" method="post" enctype="multipart/form-data">
        <label for="">title:</label>
        <input type="text" name="title"><br>
        <label for="">description:</label>
        <input type="text" name="description"><br>
        <input type="file" name="logo"><br>        
        <button type="submit">Save</button>
    </form>
{% endblock %}